@import "reset.css";

/* FuturaBT Font */
@font-face {
  font-family: "Futura-Bold";
  src: url("../font/6551.eot"); /* IE9 Compat Modes */
  src: url("./fonts/6551.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../font/6551.otf") format("opentype"),
    /* Open Type Font */ url("../font/6551.svg") format("svg"),
    /* Legacy iOS */ url("../font/6551.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../font/6551.woff") format("woff"),
    /* Modern Browsers */ url("../font/6551.woff2") format("woff2"); /* Modern Browsers */
  font-weight: bold;
  font-style: normal;
}
/* font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif; */

/* content container */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.main {
  overflow: hidden;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  background-color: #fff;
  padding: 40px 0px;
  z-index: 2;
  width: 100%;
  overflow: hidden;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Company Logo */
.logo,
.logo__name {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 36px;
}

.logo {
  font-weight: 300;
  color: #424f57;
}
.logo__name {
  font-weight: 900;
  color: #14afca;
}

/* Navigation */
.navigation__list {
  display: grid;
  grid-auto-flow: column;
  gap: 60px;
}

.navigation__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #3e4c4e;
  transition: color 0.7s ease;
}

.navigation__link:hover {
  color: #14afca;
}

/* Welcome Section  */
.welcome__section {
  position: relative;
  width: 100vw;
  min-height: 600px;
  z-index: 0;
  transform-style: preserve-3d;
  perspective: 1px;
}

.welcome__section::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform-origin: center;
  min-height: 600px;
  background-color: #000;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-1px) scale(2);
}

.welcome__section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.title {
  font-size: 52px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Futura-Bold";
  font-weight: 700;
}

.welcome__container {
  padding-top: 290px;
}

/* Welcome decor triangles */
.welcome__container::before {
  content: "";
  position: absolute;
  border: 80px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 50vw solid #fff;
  border-left: 50vw solid #fff;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

/* What Section */

.what__container {
  padding: 140px 0 100px 0;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #14afca;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 0.9px;
}

.subtitle__black__text {
  color: #424f57;
}

.subtitle__white__text {
  color: #fff;
}

.what__paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #424f57;
  text-align: center;
}

/* Companies Section */

.companies__section {
  position: relative;
  background-color: #000;
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 22%;
  min-height: 625px;
  z-index: -2;
  width: 100%;
}

.companies__section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.companies__container {
  padding: 125px 0 90px 0;
}

/* Companies decor triangles*/
.companies__container::before {
  content: "";
  position: absolute;
  border-top: 80px solid #fff;
  border-right: 50vw solid transparent;
  border-left: 50vw solid transparent;
  top: 0;
  left: 0;
  width: 100%;
}

.company_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 60px;
  row-gap: 120px;
  align-items: center;
  justify-items: center;
  margin-top: 45px;
}

.adobe {
  width: 225px;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Meet us section */
.meet-us__container {
  padding-top: 180px;
  padding-bottom: 130px;
}

.meet-us__list {
  display: flex;
  justify-content: space-between;
}

.meet-us__item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meet-us__paragraph {
  font-size: 15px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  color: #424f57;
  text-align: center;
  margin-top: 15px;
}

/* Testimonails section */
.testimonials__section {
  position: relative;
  background-color: #000;
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 575px;
  background-position: 0 20%;
  z-index: 0;
  width: 100%;
}

.testimonials__section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.testimonials__container {
  padding: 180px 0 155px 0;
}

/* Testimonials decor triangles */
.testimonials__container::after,
.testimonials__container::before {
  content: "";
  position: absolute;
  border: 80px solid transparent;
  width: 100%;
}

.testimonials__container::before {
  border-top: 80px solid #fff;
  border-right: 50vw solid transparent;
  border-left: 50vw solid transparent;
  top: 0;
  left: 0;
}

.testimonials__container::after {
  border-bottom: 0px solid transparent;
  border-right: 50vw solid #fff;
  border-left: 50vw solid #fff;
  bottom: 0;
  left: 0;
}

.quote {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.8px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #d3cccc;
  margin-top: 48px;
}

.quote__author {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.45px;
  color: #fff;
  margin-top: 28px;
  padding-right: 160px;
  display: block;
  text-align: right;
}

/* Why section */
.why__section {
  padding: 120px 0 120px 0;
}

.why__paragraph {
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.75px;
  color: #424f57;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 0 100px;
}

/* Footer */
.footer {
  padding-bottom: 100px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-family: "Open Sans", sans-serif;
  color: #3d3c3c;
  width: 420px;
  margin: 0 auto;
}

.footer__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  color: #3d3c3c;
  display: inline;
}
